.card-container h4
{
    font-weight: 400;
}
.card-container
{
    padding:  5px 2rem 5px 2rem;
    width: 100%;
}
.parent-card
{
    gap: 2%;
}
.card-div
{
    margin: 4px 0 4px 0;
    cursor: pointer;
    width: 23%;
    height: 18rem;
    border: silver solid 1px;
    border-radius: 7px;
}
.addToCart-card
{
    color: rgb(71, 71, 71);
}
.category-card
{   
    color: rgb(71, 71, 71);
    font-weight: 500;
    font-family: monospace;
}
hr
{
    width: 2rem;
    height: 5px;
}
.card-image
{

    margin: 1rem 1rem 3px 1rem;
    position: relative;
    background-size: cover;
    background-position-x: center;
    height: 11rem;
    max-width: 100%;
}
.card-heart
{
    position: absolute;
    top: 5px;
    right: 6px;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background-color: white;
    display: flex;
  align-items: center;
  justify-content: center;
}
.heart
{
    font-size: x-large;
}

.card-info
{
    padding: 0px 1rem 0px 1rem;
}