/* Small Mobile Devices */
@media only screen and (max-width: 379px) {
    .addToCart-card
    {
        font-size: large;
    }
    .card-container
    {
        padding:  5px 0.3rem 5px 1rem;
    }
    .parent-card
    {
        gap: 3%;
    }
    .card-div
    {
        margin: 8px 0 8px 0;
        width: 47%;
        height: 16.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 0.5rem 0.8rem 2px 0.8rem;
        height: 11rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 1.8rem;
        height: 1.8rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 1rem 0px 1rem;
    }
}

/* Mobile Devices */
@media only screen and (min-width: 380px) {
    .addToCart-card
    {
        font-size: large;
    }
    .card-container
    {
        padding:  5px 1rem 5px 2rem;
    }
    .parent-card
    {
        gap: 3%;
    }
    .card-div
    {
        margin: 8px 0 8px 0;
        width: 47%;
        height: 17.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 0.5rem 0.8rem 2px 0.8rem;
        height: 12rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 1.8rem;
        height: 1.8rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 1rem 0px 1rem;
    }
}

/* iPad, Tablets */


@media only screen and (min-width: 481px) {
    
    .card-container
    {
        padding:  5px 1rem 5px 2rem;
    }
    .parent-card
    {
        gap: 1%;
    }
    .card-div
    {
        margin: 8px 0 8px 0;
        width: 32.3%;
        height: 18.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 0.5rem 0.5rem 2px 0.5rem;
        height: 12.5rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 1.8rem;
        height: 1.8rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 1rem 0px 1rem;
    }
}

/* Laptop, Small Screens */
@media only screen and (min-width: 768px) {
    .addToCart-card
    {
        font-size: x-large;
    }
    .card-container
    {
        padding:  5px 1rem 5px 2.8rem;
    }
    .parent-card
    {
        gap: 2%;
    }
    .card-div
    {
        margin: 8px 0 8px 0;
        width: 31.3%;
        height: 19.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 1rem 1rem 2px 1rem;
        height: 13rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 1.8rem;
        height: 1.8rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 1rem 0px 1rem;
    }
}

@media only screen and (min-width: 900px) {
    .card-container
    {
        padding:  5px 1.8rem 5px 3.5rem;
    }
    .parent-card
    {
        gap: 1%;
    }
    .card-div
    {
        margin: 0px 0 8px 0;
        width: 24%;
        height: 19.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 0.5rem 0.7rem 2px 0.7rem;
        height: 14rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 2rem;
        height: 2rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 0.7rem 0px 0.7rem;
    }
}

/* Desktops */
@media only screen and (min-width: 1024px)  {
    .card-container
    {
        padding:  5px 1.8rem 5px 3.5rem;
    }
    .parent-card
    {
        gap: 2%;
    }
    .card-div
    {
        margin: 8px 0 8px 0;
        width: 23%;
        height: 21.5rem;
        border-radius: 7px;
    }
    .card-image
    {
        margin: 1rem 1rem 2px 1rem;
        height: 15rem;
    }
    .card-heart
    {
        top: 5px;
        right: 6px;
        width: 2rem;
        height: 2rem;
    }
    .heart
    {
        font-size: x-large;
    }
    .card-info
    {
        padding: 0px 1rem 0px 1rem;
    }
}

/* TV */
@media only screen and (min-width: 1200px) {
    .card-container
{
    padding:  5px 2rem 5px 3rem;
}
.parent-card
{
    gap: 2%;
}
.card-div
{
    margin: 8px 0 8px 0;
    width: 23%;
    height: 22.5rem;
    border-radius: 7px;
}
.card-image
{
    margin: 1rem 1rem 3px 1rem;
    height: 16.5rem;
}
.card-heart
{
    top: 5px;
    right: 6px;
    width: 2rem;
    height: 2rem;
}
.heart
{
    font-size: x-large;
}
.card-info
{
    padding: 0px 1rem 0px 1rem;
}
}
